.header {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.header-tweet {
  align-self: flex-start;
  min-width: 100%;
}

.header-logo {
  margin-left: auto;
  padding: 5px;
  visibility: hidden;
}

.footer-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125px;
}

.reveal .header img {
  /* basic modern patch */
  all: initial;
}

.reveal .header a img {
  /* basic modern patch */
  all: initial;
}

.reveal .footer-logo img {
  /* basic modern patch */
  all: initial;
  display: block;
  width: 125px;
}

.reveal .footer-logo a img {
  /* basic modern patch */
  all: initial;
  cursor: pointer;
  display: block;
  width: 125px;
}

.IssueLabel {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding: 0.15em;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 0.1em;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
}

.reveal a img.github-logo {
  /* basic modern patch */
  all: initial;
  all: unset;
  display: inline-block;
  vertical-align: sub;
  max-height: 50px;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

button {
  display: inline-block;
  margin: 0;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.divider {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #333;
  width: 3px;
}

.stat-container {
  display: flex;
  flex-direction: row;
}

.stat-box {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-box-type {
  font-size: 1em;
}

.stat-box-win .stat-box-type::before {
  content: "📊 ";
}

.stat-box-number {
  font-weight: bold;
  font-size: 4em;
}

.stat-box-win .stat-box-number {
  color: #28a745;
}

.stat-box-text {
  font-size: 1em;
}

.stat-box-units {
  font-size: 0.75em;
}

.playground {
  height: 400px;
  width: 80%;
}

.artichoke-footer-logo {
  display: "none";
}

.artichoke-footer-logo.is-visible {
  display: "block";
}
