<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Artichoke is a Ruby Made with Rust 💎🦀</title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section data-markdown>
          <textarea data-template>
<%= require("slides/title.md").default %> </textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/section-what-is-ruby.md").default %> </textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/ruby-is-syntax.md").default %> </textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/ruby-is-core.md").default %> </textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/ruby-is-stdlib.md").default %> </textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/ruby-is-behavior.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/ruby-is-c-api.md").default %></textarea
          >
        </section>
        <section>
          <h3>Artichoke is Ruby</h3>
          <p align="center">
            <img alt="Artichoke is Ruby" src="<%= require("./logo-red.svg") %>">
          </p>
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/section-where-can-we-go.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/where-single-binary.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/where-opt-stdlib.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/where-fearless-concurrency.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/where-opt-parallelism.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/where-polymorphic-core.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/where-performance.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/section-why-rust.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/rust-ffi.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/rust-deps.md").default %></textarea
          >
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/rust-wasm.md").default %></textarea
          >
        </section>
        <section>
          <h2>Benchmarks</h2>
          <blockquote class="twitter-tweet tw-align-center">
            <p lang="en" dir="ltr">
              Micro benches are useless because they are too small for anyone to
              sit on
            </p>
            &mdash; Aaron Patterson (@tenderlove)
            <a
              href="https://twitter.com/tenderlove/status/1189265228497854464?ref_src=twsrc%5Etfw"
              >October 29, 2019</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </section>
        <section data-markdown>
          <textarea data-template>
            <%= require("slides/bench-ary-shift.md").default %></textarea
          >
        </section>
        <section>
          <h3><code>Array#shift</code></h3>
          <div class="stat-container">
            <div class="stat-box">
<!--
precise-time 30 /usr/local/var/rbenv/versions/2.6.3/bin/ruby ary-shift-bench.rb
3504 3118 2994 2981 2999 3003 3009 3030 3543 3259 3365 3230 3207 3167 3233 3279 3413 3214 3112 3142 3094 3058 3113 3257 3539 3401 3192 3224 3137 3174
3200 [2981-3543] ms
3877 [3876-3877] MB
-->
              <div class="stat-box-type">
                MRI
              </div>
              <div class="stat-box-number">
                0.3
              </div>
              <div class="stat-box-units">
                iterations / second
              </div>
            </div>
            <div class="divider"></div>
            <div class="stat-box">
<!--
precise-time 30 artichoke/target/release/artichoke ary-shift-bench.rb
10 9 9 10 9 9 11 11 10 10 9 11 10 10 10 10 11 10 10 10 9 9 10 10 11 10 10 10 10 10
10 [9-11] ms
3 [3-3] MB
-->
              <div class="stat-box-type stat-box-win">
                Artichoke
              </div>
              <div class="stat-box-number">
                100
              </div>
              <div class="stat-box-units">
                iterations / second
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3><code>Array#shift</code></h3>
          <div class="stat-container">
            <div class="stat-box">
<!--
precise-time 30 /usr/local/var/rbenv/versions/2.6.3/bin/ruby ary-shift-bench.rb
3504 3118 2994 2981 2999 3003 3009 3030 3543 3259 3365 3230 3207 3167 3233 3279 3413 3214 3112 3142 3094 3058 3113 3257 3539 3401 3192 3224 3137 3174
3200 [2981-3543] ms
3877 [3876-3877] MB
-->
              <div class="stat-box-type">
                MRI
              </div>
              <div class="stat-box-number">
                3877
              </div>
              <div class="stat-box-units">
                MB / iteration
              </div>
            </div>
            <div class="divider"></div>
            <div class="stat-box">
<!--
precise-time 30 artichoke/target/release/artichoke ary-shift-bench.rb
10 9 9 10 9 9 11 11 10 10 9 11 10 10 10 10 11 10 10 10 9 9 10 10 11 10 10 10 10 10
10 [9-11] ms
3 [3-3] MB
-->
              <div class="stat-box-type stat-box-win">
                Artichoke
              </div>
              <div class="stat-box-number">
                3
              </div>
              <div class="stat-box-units">
                MB / iteration
              </div>
            </div>
          </div>
        </section>
        <section data-markdown>
          <textarea data-template>
<%= require("slides/demo-wasm.md").default %></textarea
          >
        </section>
        <section>
          <div
            class="fig-container"
            style="overflow:hidden;"
            data-file="https://artichoke.run"
            data-style="height: 960px; width: 960px; margin-top: -64px;"
          ></div>
        </section>
      </div>
    </div>
    <div id="hidden" style="display:none;">
      <div id="header">
        <div class="header">
          <div class="header-tweet">
            <a
              href="https://twitter.com/intent/tweet?screen_name=artichokeruby&ref_src=twsrc%5Etfw"
              class="twitter-mention-button"
              data-size="large"
              data-show-count="false"
            >
              Tweet to @artichokeruby
            </a>
            <script
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"
            ></script>
          </div>
          <div></div>
          <div class="header-logo"></div>
        </div>
        <div class="footer-logo">
          <img src="<%= require("@artichoke/logo/logo.svg") %>" height="125" />
        </div>
      </div>
    </div>
  </body>
</html>
